* {
  padding: 0;
  margin: 0;
}
body {
  /* margin: 10px; */
  background: radial-gradient(
        1.5em 6.28571em at 1.95em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        1.5em 6.28571em at -0.45em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      1.5em 5.5em,
    radial-gradient(
        2.3em 4.57143em at 2.99em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        2.3em 4.57143em at -0.69em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      2.3em 4em,
    radial-gradient(
        3.5em 6.28571em at 4.55em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        3.5em 6.28571em at -1.05em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      3.5em 5.5em,
    radial-gradient(#cff1e4, #b0f5f6);
  background-color: #cff1e4;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em,
    3.5em 11em, 100% 100%;
  background-repeat: repeat;
  /* background-image: url("./pop.jpg"); */
  background-color: #f5f3f3bb;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h3,
h4,
li,
p {
  margin: 0;
  padding: 0;
}
.app_heading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  /* background-color: white; */
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.15); */
}
.app_heading > h1 {
  color: #ffd700;
  text-align: center;

  font-weight: 700;
  font-size: 30px;
  margin-left: 15px;
}
.app_pcmc_info {
  padding-top: 60px;
}
.app_pcmc_info > p {
  font-weight: 400;
  color: #8c8c8c;
  margin: 10px;
}
.app_pcmc_info > p > span {
  font-weight: 900;
  color: #848484;
}
.app_body {
  margin: 0 15px;
}
.main_div {
  /* display: flex;
  flex-direction: column; */
  color: white;
  max-width: 400px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
}
.main_div > h3 {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 10px;
}
.main_div > p {
  text-align: center;
}
.card_title {
  background-color: #16a596;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.card {
  border: 1px solid lightgray;
  margin: 20px 0;

  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
}
.table_head {
  background-color: #ea2c62;
  color: white;
  /* text-align: center; */
  font-weight: bold;
  font-size: 16px;
}
.s_head {
  background-color: #5c6bc0;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.table_item_count {
  background-color: #dc3545;
  padding: 5px;
  border-radius: 10px;
  width: 90px;
  color: white;
  font-weight: blod;
  text-align: center;
}
.table2_item_count {
  background-color: #28a745;
  padding: 5px;
  border-radius: 10px;
  width: 90px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.s_row {
  padding: 3px;
  box-sizing: content-box;
  border-radius: 10px;
  width: min-content;
  /* *** change symptome color *** */
  color: black;
  font-weight: 600;
}
.pcmc_graph {
  /* width: 90%;
  margin: 0 auto; */
}
.card-body {
  margin: 0;
  padding: 0;
}
